.feature {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    
  }
  
  .feature div {
    flex: 1;
    float: right;
    
    background-color: rgb(34, 16, 16);
   
    
    

  }
  
  .feature div:first-child {
 
    margin-right: 0;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(29, 14, 16);
    display: block;
    color: whitesmoke;
    
    

   
  }
  
  .feature h1,
  .feature p,
  .feature ol {
    color: whitesmoke;
    font-weight: bold;
    margin-top: 10px;
  
  }
 

  
  .feature img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .feature ol li {
    color: whitesmoke;
    
  }
  