{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css "href="{% static './styles/0-nav.css' %}">
    <link rel="stylesheet" type="text/css" href="./styles/0-nav.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo">Task<span>Hub</span></h2>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <button type="button" >Get Started</button>

            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        
    </header>

    <section class="hero">
        <div class="hero-content">
          <h1>Welcome to TaskHub</h1>
          <p>A simple and intuitive project management tool for individuals and teams.<br></p>
          <button hrf="#projects" class="btn">Get Started</button>
        </div>
        <div class="circle">
            
                <div class="circle-item">Create Tasks</div>
                <div class="circle-item">Update Task</div>
                <div class="circle-item">Delete Task</div>
              
                
        </div>
        <div class="row img-content">
            
    
            <img src="./images/296270475_447156827425018_8656212082197163125_n.jpg" alt="">
           
        </div>
      </section>
      <section>
     
    </section>
</body>
</html>