

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'josefin Sans', sans-serif ;
}
body {
    background-color: black;
}
.img-content {
    position: relative;
    justify-content: center;
}
.img-content img {
    max-height: 400px;
    z-index: 1;
    border-radius: 150px 20px 20px 20px;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;

}
.circle {
    display: flex;
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #800000;
    bottom: -100px;
    color: white;
    flex-direction: column;
    justify-content: right;
      
      
      
}
.circle > div{
    
    margin-top: 100px;
    margin-right: 200px;
    font-weight: bold;
}


nav {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    border-bottom: 2px solid brown;
    background: hsl(0 0% 100% / 0.1);
}

.hero{
    background-color: brown;

    padding: 20px 20px 20px;
    margin: 50px 50px 50px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 50px;
  }
  .btn {
    margin-top: 10px;
    background-color: white;
    color: black;
  }
.logo {

    color: white;
    font-size: 28px;
}

span {
    color: brown;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}
nav ul li a:hover {
    color: brown;
    transition: .3s;

}
button {
    border: none;
    background-color: brown;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

@media screen and (max-width: 768px){
  
    .hero {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .circle {
        display: flex;
        width: 220px;
        height: 225px;
        bottom: unset;
        margin-top: 100px;
        margin-right: 500px;
        
        
    }
    .btn {
        margin-bottom: 0%;
        margin-left: 70px;
        border-radius: 1px solid blue;
    }
    .img-content img {
        width: 300px;
        height: 150px;
        margin-top: 0px;
        margin-left: 100%;
        margin-left: 150px;
        border-radius: 10px;
    }
    .circle > div {
        margin: 25px 30px 20px 10px;
        font-size: 13px;
    }
    nav {
        padding-top: 0%;
    }
    h1 {
        font-size: 30px;
    }
    nav ul li {
        list-style-type: none;
        display: block;
        padding: 10px 20px;
        
    
    }
    
/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,500&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}*/