<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/1-hero.css"> <!-- Link to hero section styles -->
    <link rel="stylesheet" type="text/css" href="styles/2-project.css"> <!-- Link to project section styles -->
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo">Task<span>Hub</span></h2> <!-- Logo for TaskHub -->
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <button type="button" >Get Started</button> <!-- Button for getting started -->

            <div class="hamburger" onclick="toggleMenu()"> <!-- Hamburger menu for mobile navigation -->
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <section class="hero">

        <div class="hero-content">
          <h1>Welcome to TaskHub</h1> <!-- Heading for hero section -->
          <p>A simple and intuitive project management tool for individuals and teams.<br></p> <!-- Description for hero section -->
          <button hrf="#projects" class="btn">Get Started</button> <!-- Button for getting started in hero section -->
        </div>

        <div class="circle">
                <div class="circle-item">Create Tasks</div> <!-- Item in the circle -->
                <div class="circle-item">Update Task</div> <!-- Item in the circle -->
                <div class="circle-item">Delete Task</div> <!-- Item in the circle -->  
        </div>

        <div class="row img-content">
            <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt=""> <!-- Image in the row -->
        </div>
        
    </section>
    <h2 style="color: white; font-size: 50px;">Explore popular projects</h2>

    <h4 >Resize the browser window to see the effect.</h4>

    <section class="projec-s">
      
        <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/296270475_447156827425018_8656212082197163125_n.jpg">
                <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="desc">Add a description of the image here</div>
            </div>
        </div>
          
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/296270475_447156827425018_8656212082197163125_n.jpg">
                <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt="Forest" width="600" height="400">
              </a>
              <div class="desc">Add a description of the image here </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/296270475_447156827425018_8656212082197163125_n.jpg">
                <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt="Northern Lights" width="600" height="400">
              </a>
              <div class="desc">Add a description of the image here</div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/296270475_447156827425018_8656212082197163125_n.jpg">
                <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt="Mountains" width="600" height="400">
              </a>
              <div class="desc">Add a description of the image here</div>
            </div>
          </div>
          
          <div class="clearfix"></div>

          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="images/296270475_447156827425018_8656212082197163125_n.jpg">
                <img src="images/296270475_447156827425018_8656212082197163125_n.jpg" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="desc">Add a description of the image here</div>
            </div>
          </div>
          
          

    </section>
</body>
</html>
