<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/1-hero.css') }}"> <!-- Link to hero section styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/2-project.css') }}"> <!-- Link to project section styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/3-feature.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h2 class="logo">Task<span>Hub</span></h2> <!-- Logo for TaskHub -->
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <button type="button" >Get Started</button> <!-- Button for getting started -->

            <div class="hamburger" onclick="toggleMenu()"> <!-- Hamburger menu for mobile navigation -->
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
    </header>

    <section class="hero">

        <div class="hero-content">
          <h1>Welcome to TaskHub</h1> <!-- Heading for hero section -->
          <p>A simple and intuitive project management tool for individuals and teams.<br></p> <!-- Description for hero section -->
          <button hrf="#projects" class="btn">Get Started</button> <!-- Button for getting started in hero section -->
        </div>

        <div class="circle"> </div>

        <div class="row img-content">
            <img src="{{ url_for('static', filename = 'images/cl gtl.jpg') }}" alt=""> <!-- Image in the row -->
        </div>
        
    </section>
    <h2 style="color: white; font-size: 50px;">Explore popular projects</h2>

    

    <section class="projec-s">
      
        <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="{{ url_for('static', filename = 'images/IMG_0267.JPG')}}">
                <img src="{{url_for('static', filename = 'images/cl gtl.jpg')}}" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="desc">
                <h2>site design</h2> 
                <p>This sight was created using css, html, javacript and tailwind</html></p><br>
                <p><span style="font-weight: bold;">ACCOUNT</span> : Amadu Hamza</p>
            
              
              </div>
            </div>
        </div>
          
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="{{ url_for('static', filename = 'images/IMG_5133.JPG') }}">
                <img src="{{ url_for('static', filename = 'images/IMG_5133.JPG') }}" alt="Forest" width="600" height="400">
              </a>
              <div class="desc">
                <h2>site design</h2> 
                <p>This sight was created using css, html, javacript and tailwind</html></p><br>
                <p><span style="font-weight: bold;">ACCOUNT</span> : Amadu Hamza</p>
            
              
              </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="{{ url_for('static', filename = 'images/WhatsApp Image 2022-08-18 at 2.14.14 PM (1).jpeg') }}">
                <img src="{{ url_for ('static', filename = 'images/WhatsApp Image 2022-08-18 at 2.14.14 PM (1).jpeg') }}" alt="Northern Lights" width="600" height="400">
              </a>
              <div class="desc">
                <h2>site design</h2> 
                <p>This sight was created using css, html, javacript and tailwind</html></p><br>
                <p><span style="font-weight: bold;">ACCOUNT</span> : Amadu Hamza</p>
            
              </div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="{{ url_for('static', filename = 'images/IMG_5133.JPG') }}">
                <img src="{{ url_for('static', filename = 'images/IMG_5133.JPG') }}" alt="Mountains" width="600" height="400">
              </a>
              <div class="desc">
                <h2>site design</h2> 
                <p>This sight was created using css, html, javacript and tailwind</html></p><br>
                <p><span style="font-weight: bold;">ACCOUNT</span> : Amadu Hamza</p>
            
              
              </div>
            </div>
          </div>
          
          <div class="clearfix"></div>

    </section>
    
    <section class="feature">
      <div>
        <h2> Management Made Easy</h2><br>
      
        <ul>
          <li>Add tasks with descriptions, due dates, and priority levels</li><br>
          <li>Edit task details and mark tasks as complete.</li><br>
          <li>Remove tasks that are no longer needed.</li><br>
        
        </ul>
      </div>
      <div >
        <img src="{{ url_for('static', filename = 'images/296270475_447156827425018_8656212082197163125_n.jpg') }}" alt="task">
      </div>
    </section>
    
</body>
</html>
